.question {
    border: 3px solid black;
    border-radius: 4px;
    margin: 15px;
    padding: 10px;
}

main > .container {
    padding: 60px 15px 0;
}

.question-avatar {
    height: 100px;
    width: 100px;
}
form > .form-group {
    margin-top: 40px;
}

#quest-text {
    margin-bottom: 10px;
}

.tag {
    min-height: 45px;
    text-align: center;
    min-width: 90px;
    margin: 3px;
    padding: 3px;
    border: 2px solid black;
    border-radius: 3px;
    float: left;
}